:root {
    --color1: #667eea;
    --color2: #6B8DD6;
    --color3: #764ba2;
    --color3RGBA: rgba(116, 79, 168, 0.75);
    --color4: #8E37D7;
}

html,
body {
    margin: 2%;
}

h1,
h4 {
    text-align: center;
}

header {
    border-bottom: 4px solid black;
    margin-bottom: 2%;
}

.btn {
    justify-content: center;
    text-align: center;
}

#section-calendar {
    display: flex;
    justify-content: center;
}

.upcoming-main-box {
    border-style: solid;
    border-width: 4px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.upcoming-one,
.upcoming-two,
.upcoming-three,
.upcoming-four {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px
}

.event-modal {
    border: 5px solid black;
    background-color: white;
    max-width: 250px;
    min-width: 200px;
    padding: 15px;
    /* position:absolute;
    top: 50px;
    left: 40%; */
    z-index: 4;
}

.event-box {
    padding: 10px;
    border-bottom: 3px solid black;
}

.gift-box {
    padding: 10px;
}

.edit-event-modal {
    border: 5px solid black;
    max-width: 250px;
    min-width: 200px;
    padding: 15px;
    margin-left: 20px;
    position: absolute;
    top: 150px;
    left: 40%;
    z-index: 4;
}

.edit-event-box {
    padding: 10px;
}

.edit-gift-box {
    padding: 10px;
}

#schedule-event {
    display: flex;
    justify-content: center;
    margin: auto;
}

#edit-schedule-event {
    display: flex;
    justify-content: center;
    margin: auto;
}

.hide {
    display: none;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, var(--color1), var(--color3), var(--color2), var(--color4));
    box-shadow: 0 4px 15px 0 var(--color3RGBA);
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

#confirmation-message,
#congrats-message {
    background-color: white;
    border-radius: 5px;
    border: var(--color4);
    border-style: solid;
    text-align: center;
    visibility: hidden;
}

.modalButtonClass {
    background-color: pink;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#scheduleAnotherBtn,
#backBtn {
    width: 300px;
}